body {
    margin: 0;
}
* {
    transition: all .2s ease-in;
    font-family: Roboto;
}
.main {
    height: 100vh;
}

.left {
    width: 30%;
    float: left;
    /* padding-left: 10px; */
}

.left input {
    display: block;
    margin-bottom: 10px;
    padding: 15px 10px;
    border: 1px solid #d0d0d0;
    outline: 0;
    border-radius: 5px;
}

.left input:hover, .left input:focus {
    box-shadow: 2px 2px #b0b0b0;
}

.right {
    float: right;
    width: 70%;
}
@media only screen and (max-width: 1500px) {
  .left {
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
  }
  .left input {
  }
  .right {
    width: 100%;
    display: block;
  }
  #source, #dest {
    width: fill-available !important;
    width: -webkit-fill-available !important;
    margin-left: 0 !important;
  }
  #Button {
    margin-left: 0 !important;
    margin: auto !important;
    /* margin */
    /* margin-bott */
  }
  .left h2 {
    text-align: center;
  }
  .loader {
    margin: auto !important;
  }
}
#map {
    height: 100vh;
    width: 100%;
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #source, #dest {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    /* padding: 0 11px 0 13px; */
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #source:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  .left h2 {
    margin-left: 12px;
  }
#Button {
  cursor: pointer;
  margin-left: 12px;
  background-color: #f0f0f0;
}
#Button:hover {
  /* background-color: #fff; */
  /* box-shadow: none; */
  padding: 15px;

}
@media (max-width: 1500px) {
  #Button {
    width: 300px;
  }
}

/* loader */

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #333;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 12px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide {
  display: none !important;
}
